<div class="mt-5">
  <div class="my-2 w-25">
    <app-select
      title="Categories"
      [data]="categories"
      (SelectValue)="filterCategory($event)"
    ></app-select>
  </div>
  <div class="mt-5">
    <div class="row" *ngIf="!loading">
      <div class="col-md-3 col-ms-12" *ngFor="let pro of products">
        <app-product [data]="pro" (item)="addToCart($event)"></app-product>
      </div>
    </div>
  </div>
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
