<div class="card" style="width: 18rem">
  <div class="card-body">
    <div routerLink="/details/{{ data.id }}">
      <img [src]="data.image" class="card-img-top" alt="..." />
      <h4 class="card-title">{{ data.title }}</h4>
      <p class="card-text">
        {{ data.description }}
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button
      
        *ngIf="!AddButton"
        (click)="AddButton = true"
      >
        Add To Cart
      </button>
      <div class="d-flex w-50" *ngIf="AddButton">
        <input type="number" class="form-control" [(ngModel)]="amount" />
        <button class="btn btn-danger" (click)="add(); AddButton = false">
          Add
        </button>
      </div>
      <span>{{ data.price }} L.E </span>
    </div>
  </div>
</div>
